.home{
    position: relative;
    height: 100vh;
    width: 100%;
    &_image{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: fit;
    }
    
    
    &_layer{
        //background-color: rgba(21, 21, 21, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

        &_wrap{
            &_text{
                color: white;
                width: 100%;
                @include position_center();
                text-align: center;
                
                &_welcome{
                    font-size: 28px;
                    margin:0 0 16px 0;
                    
                }

                &_name{
                    font-size: 52px;
                    margin:0 0 16px 0;
                    
                }

                &_dest{
                    font-size: 21px;
                    margin:0 0 16px 0;
                }

            }            
        }
        &_spline{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        }
        &_spline-note {
        position: relative;
        z-index: 2;
        font-size: 12px;
        background-color: white;
        color: black;
        padding: 10px 10px;
        border-left: 4px solid black;
        margin: 10px 0;
        border-radius: 0.5rem;
        font-family: 'Segoe UI', sans-serif;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .close-btn {
        position: absolute;
        top: 8px;
        right: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        color:black;
        cursor: pointer;
        transition: color 0.2s;
        }

        .close-btn:hover {
        color: black;
        }

    }

   
}




@media screen and (max-width:900px){
    .home_layer_wrap_text{
        &_welcome{
            font-size: 18px;
            
        }
    
        &_name{
            font-size: 25px;
        }
    
        &_dest{
            font-size: 11px;
        }
    }
    
}