@media screen and (max-width: 900px) and (min-width: 600px){
    section{
        .content{
            .heading_wrap{
                .heading{
                    font-size: 80px;
                }
                .over_heading{
                    font-size: 25px;
                }
                .underline{
                    margin-top:15px;
                }
            }
        }
    }
       
}
@media screen and (max-width:600px){
    section{
        .content{
            .heading_wrap{
                .heading{
                    font-size: 45px;
                }
                .over_heading{
                    font-size: 16px;
                }
                .underline{
                    margin-top:10px;
                }
            }
        }
    }
       
}


