.portfolio{
    /*&_nav{
        @include flex_center(row);
        font-size: 16px;
        margin:0 0 48px;
        color:rgb(221, 221, 221);
        
       /* a{
            &:nth-child(1){
                color:$btn_color;
                text-decoration: underline;
            }
            padding:9px 16px;
            &:hover{
                cursor: pointer;
                color:$btn_color;
            }
        }
    }*/
    

    &_main{
        .wrap1{
            display: block;
            .portfolio_main_one{
                display: grid;
                grid-template-columns: repeat(5,auto);
                grid-template-rows: repeat(5,auto);
                row-gap: 20px;
                column-gap: 20px;
                &_0 {
                    display: block;
                    grid-column: 1 / span 3;
                    grid-row: 1 / span 2;     
                }
                &_1 {
                    display: block;
                    grid-column: 4 / span 2;
                    grid-row: 1 / span 2;     
                }
                &_2 {
                    display: block;
                    grid-column: 1 / span 2;
                    grid-row: 3 / span 2;
                }
                &_3 {
                    display: block;
                    grid-column: 3 / span 3;
                    grid-row: 3 / span 2;
                }
                &_4 {
                    display: block;
                    grid-column: 1 / span 5;
                    grid-row: 5 / span 2;
                }
                
                
                
                
                &_0,&_1,&_2,&_3,&_4{
                    border: 5px solid rgb(17, 20, 24);
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: fit;
                        
                    }
                    &:hover{
                        cursor: pointer;
                        overflow: hidden;
                        img{
                            transform: scale(1.05);
                            opacity: 0.5;
                        }
                        
                        
                    }
                    
                }
            
            }
        }

    }
    &_click{
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: $btn_color;
        margin-top: 10px;
        
    }
}
