.resume{
    &_content1{
        display:flex;
        &_myeducation{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin:0 24px;
            &_heading{
                color:white;
                font-size: 24px;
                margin:0 0 24px;

            }
            &1, &2, &3{
                height: 100%;
                padding:24px;
                margin:0 0 24px;
                border-radius: 6px;
                background-color: rgb(17, 20, 24);
                &_year{
                    color:white;
                    text-align: center;

                    display: inline-block;

                    background-color:rgb(220, 53, 69);
                    padding: 5px 9px;
                    font-size: 14px;
                    border-radius:6px;
                }
                &_degree{
                    color:white;
                    font-size: 21px;
                    margin:0 0 8px;
                }
                &_university{
                    color:rgba(255, 255, 255, 0.5);
                    
                    font-size: 16px;
                    margin:0 0 16px;
                }
                &_info{
                    color:$btn_color;
                    font-size: 16px;
                }
            }


        }

        &_myexperience{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin:0 24px;
            &_heading{
                color:white;
                font-size: 24px;
                margin:0 0 24px;
            }
            &1, &2, &3{
                padding:24px;
                margin:0 0 24px;
                background-color: rgb(17, 20, 24);
                border-radius:6px;
                &_year{
                    color:white;
                    text-align: center;
                    background-color:rgb(220, 53, 69);

                    display: inline-block;

                    padding: 5px 9px;
                    font-size: 14px;
                    border-radius:6px;
                }
                &_degree{
                    color:white;
                    font-size: 21px;
                    margin:0 0 8px;
                }
                &_university{
                    color:$btn_color;
                    font-size: 16px;
                    margin:0 0 16px;
                }
                
                &_info{
                    color:rgba(255, 255, 255, 0.5);
                    font-size: 16px;
                    .link{
                        &:hover{
                            color:$btn_color;
                        }
                    }
                }

            }

        }
    }
   
    &_content3{
        width:100%;
        text-align: center;
        &_btn{
            border:1.6px solid rgb(108, 117, 125);
            padding:13px 42px;
            border-radius:50px;
            background-color:rgb(0,0,0,0);
            color: rgb(108, 117, 125);
            font-size:16px;
            margin: 24px 0 0;
            &:hover{
                cursor:pointer;
                background-color:rgb(108, 117, 125);
                color:white;
            }
        }
    }
} 
@media screen and (max-width:900px){
    .resume{
        &_content1{
            flex-direction:column;
            align-items: center;
            &_myeducation{
                width: 100%;
            }
            &_myexperience{
                width:100%;
            }
        }
       
        
        

    }
        
}