@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//$btn_color:rgb(32, 201, 151);
$btn_color:#31e8e7;
@mixin tooltips(){
    .tooltip {
        position: relative;
        text-align: center;
      }
      .tooltip .tooltiptext {
        visibility: hidden;
        background-color: black;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color:black transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
}
@mixin flex_center ($x) {
    display: flex;
    flex-direction: $x;
    align-items: center;
    justify-content: center;
}
@mixin position_center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    scroll-behavior: auto;
    font-family: "Poppins",sans-serif;
}

.pages{
    margin: 0 0 0 260px;
    display:flex;
    flex-direction: column;
    
}

section{
    max-width: 100%;
    max-height: 100%;
    .content{
        padding:72px 48px;
        .heading_wrap{
            position: relative;
            .heading{
                text-align: center;
                color: rgb(108, 117, 125,0.1);
                font-size:120px;
                font-weight: 600;
            }
            .over_heading{
                @include position_center();
                text-align: center;
                color:white;
                font-size:36px;
                font-weight: 600;
                
            }
            .underline{
                @include position_center();
                margin:20px 0 0;
                background-color:$btn_color;
                border-bottom-color: $btn_color;
                height: 1px;
                width:80px;
            }
            
        }

    }
    
    &:nth-child(even){
        background-color: rgb(33, 37, 41);
        
    }
    &:nth-child(odd){
        background-color: #343a40;
    }   
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}




@import "./scss/side-nav.scss";
@import "./scss/home.scss";
@import "./scss/about_me.scss";
@import "./scss/what_i_do.scss";
@import "./scss/resume.scss";
@import "./scss/testimonial.scss";
@import "./scss/contact.scss";
@import "./scss/portfolio.scss";
@import "./scss/footer.scss";
@import "./scss/media.scss";

